@page "{id}"
@using ContosoCrafts.WebSite.Services
@model ContosoCrafts.WebSite.Pages.Product.ReadSchoolModel
@{
    ViewData["Title"] = "Read page";
}
<h1>Read</h1>

<div class="content">
    <h5 class="title">The Rainbow School</h5>

    <div class="container">
        <p class="card-text">Electronic devices needed:</p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Items</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Laptops</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Smartboards</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Digital pens</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
        <p class="card-text">Contact Information: </p>
        <p class="card-text">12th Ave, Madison Street, Seattle WA</p>
        <p class="card-text">Phone: +1 2345436776</p>
        <p class="card-text">Email: rainbow@coref12foundation.com</p>
        <p class="card-text">Please feel free to contact using the above information if you want to know more about the school/ want to donate any of the above items to the school.</p>
    </div>

</div>