@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel
@{
    ViewData["Title"] = "Update Page";
}

<div class="content">

  <div class="container update-form">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.Id)

        <div class="form-group">
            <label asp-for="Product.SchoolName" class="control-label"> School Name</label>
                <input asp-for="Product.SchoolName" placeholder="Enter School Name"  class="form-control" />
            <span asp-validation-for="Product.SchoolName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.SchoolAddress" class="control-label">School Address</label>
                <input asp-for="Product.SchoolAddress" placeholder="Enter Complete School Address"  class="form-control" />
            <span asp-validation-for="Product.SchoolAddress" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.SchoolEmail" class="control-label">School Email Address</label>
                <input asp-for="Product.SchoolEmail" placeholder="Enter email" class="form-control" />
                <span asp-validation-for="Product.SchoolEmail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.SchoolContactInfo" class="control-label">School Contact Number</label>
                <input asp-for="Product.SchoolContactInfo" placeholder="Enter School contact details" class="form-control" />
                <span asp-validation-for="Product.SchoolContactInfo" class="text-danger"></span>
        </div>
            <p>Below mention the quantity of devices you need:</p>
            <div class="form-group">
                <label asp-for="Product.LaptopQuantity" class="control-label">Laptops</label>
                <input type="number" asp-for="Product.LaptopQuantity" class="form-control" />
                <span asp-validation-for="Product.LaptopQuantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.ProjectorsQuantity" class="control-label">Projectors</label>
                <input type="number" asp-for="Product.ProjectorsQuantity" class="form-control" />
                <span asp-validation-for="Product.ProjectorsQuantity" class="text-danger"></span>
            </div>

            <div class="form-group">
            <label asp-for="Product.SpeakersQuantity" class="control-label">Speakers</label>
                <input type="number" asp-for="Product.SpeakersQuantity" class="form-control" />
                <span asp-validation-for="Product.SpeakersQuantity" class="text-danger"></span>
        </div>

            <div class="form-group">
                <label asp-for="Product.SmartBoardsQuantity" class="control-label">Smart Boards</label>
                <input type="number" asp-for="Product.SmartBoardsQuantity" class="form-control" />
                <span asp-validation-for="Product.SmartBoardsQuantity" class="text-danger"></span>
            </div>

            <div class="form-group">
            <label asp-for="Product.TabletsQuantity" class="control-label">Tablets</label>
                <input type="number" asp-for="Product.TabletsQuantity" class="form-control" />
                <span asp-validation-for="Product.TabletsQuantity" class="text-danger"></span>
        </div>

        <div class="form-group">
                <label asp-for="Product.DigitalMarkersQuantity" class="control-label">Digital Markers</label>
                <input type="number" asp-for="Product.DigitalMarkersQuantity" class="form-control" />
                <span asp-validation-for="Product.DigitalMarkersQuantity" class="text-danger"></span>
        </div>


        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}