@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Core F12 Foundation is a Charity Donation platform for local schools that is developed by four Seattle University students. 
    We believe education is a human right. We further believe every individual (student) should benefit from quality
    education and more importantly have the supplies, tools, and capabilities to thrive in an educational setting.
    In the spirit to support disadvantaged local schools, this charity platform aims at listing school supplies, 
    including electronics to enable their students excel academically.
</p>

<p>Schools in need of charitable assistance can have a designated representative who can submit a request 
    to be highlighted in the list of schools in need.
</p>

@{
    ViewData["Title"] = "Mission";
}
<h1>@ViewData["Title"]</h1>

<p>Core F12 Foundation's mission is to make education possible by closing the need gap among disadvantaged schools
    through charitable provision of school supplies and electronics.
</p>
