@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Core F12 Foundation is strongly committed to protecting the privacy of our donors and website visitors. It is our aim to help you better understand the information we gather, how we handle it, whether we disclose it to anyone, and your options regarding the information. This Privacy Policy applies when you either view the list of schools in need of educational supplies (visiting our site), or when you make a donation.
</p>

<p>
    By visiting our website, you are accepting this Privacy Policy.
</p>
