@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileItemsService ItemsService

<div class="card-columns">
    @foreach (var item in ItemsService.GetAllData())
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@item.Image');">
            </div>
            <div class="overlay">
                <div class="text">@item.Description</div>
            </div>
            <div class="card-footer">
                    <h5 class="card-title">@item.Title</h5>
            </div>
        </div>

    }
</div>