.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card:hover .overlay {
    opacity: 1;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

    .card .overlay .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #695b18;
    border-color: #695b18;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #112f40;
        border-color: #112f40;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f2eddc;
}

p {
    font-family: 'Nunito', helvetica;
}

h1 {
    font-family: 'Nunito', helvetica;
}

ul {
    font-family: 'Nunito', helvetica;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', helvetica;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(300deg, #f5eed7 10%, #453607);
    background: -o-linear-gradient(300deg, #f5eed7 10%, #453607);
    background: -moz-linear-gradient(300deg, #f5eed7 10%, #453607);
    background: linear-gradient(300deg, #f5eed7 10%, #453607);
}

.bg-footer {
    background: -webkit-linear-gradient(300deg, #f5eed7, #453607 40%);
    background: -o-linear-gradient(300deg, #f5eed7, #453607 40%);
    background: -moz-linear-gradient(300deg, #f5eed7, #453607 40%);
    background: linear-gradient(300deg, #f5eed7, #453607 40%);
}

.navbar-fixed-top {
    position: sticky !important;
    top: 0;
}

.update-form {
    width: 80%;
    padding-bottom: 10px;
    padding-top: 20px;
    box-shadow: 5px 5px 15px #bbbbbb;
    background: #c9c3af;
}
